@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy-Medium.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    /* background-color: burlywood; */
}

#page1 #nav{
    height: 110px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

}

#nav-part1{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */

}

#nav-part1 h4{
    font-size: 16px;
    font-weight: 600;

}

#nav-part2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: yellow; */
}

#nav-part2 button{
    padding: 14px 24px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    background-color: #0d0c22;
    color: #fff;
    font-size: 14px;
}

#nav-part2 button:nth-child(1){
    background-color: transparent;
    color: #000;
}

#nav img{
    height: 110px;

}



#page1 #content{
    height: calc(100% - 120px);
    width: 100%;
    /* background-color: crimson; */
}
